:focus {
    outline: 0;
}
/* * {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
} */

.clear {
    clear: both;
    overflow: hidden;
    height: 0;
}
.clearfix {
    *zoom: 1;
}
.clearfix:after {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    visibility: hidden;
    content: ".";
}

: : -webkit-selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}
: : -moz-selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}
: : selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}
.cssSelect {
    white-space: nowrap;
    float: left;
}
.cssSelect * {
    display: block;
}
.cssSelect a {
    color: #666;
    outline-width: 0px;
    text-decoration: none;
}
.cssSelect .selectBox {
    cursor: pointer;
    border: solid 1px #c8c8c8;
    float: left;
}
.cssSelect .selectLt {
    cursor: pointer;
    float: left;
    text-align: left;
}
.cssSelect .selectRt {
    cursor: pointer;
    background: url('../images/skin_icons.png') -49px -160px no-repeat #f2f2f2;
    border-left: 1px solid #c8c8c8;
    float: left
}
.cssSelect .selectBox {} .cssSelect .selectLt {
    overflow: hidden;
    height: 30px;
    line-height: 31px;
    padding: 0 10px;
    background: none transparent scroll repeat 0% 0%;
    color: #595959;
    background: #fff;
}
.cssSelect .selectRt {
    height: 30px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 28px;
}
.cssSelect .sNormal {
    margin-right: 10px;
    background-position: 0px 0px;
}
/*.cssSelect .sNormal .selectRt { background-position: 100% 0px}*/

.cssSelect .sHover {
    background-position: 0px -50px;
}
.cssSelect .sHover .selectRt {
    background: url('../images/skin_icons.png') -49px -160px no-repeat #e6e6e6;
}
.cssSelect .sPressDown {} .cssSelect .sPressDown .selectRt {
    background: url('../images/skin_icons.png') -49px -160px no-repeat #e6e6e6;
}
.cssSelect .optionsBox {
    position: absolute;
    border: 1px solid #dbdbdb;
    padding: 2px;
    margin: 0px;
    background: #fff;
    z-index: 100;
}
.cssSelect .optionsInnerBox {} .cssSelect .optionBox {
    cursor: pointer;
    padding: 2px 30px 2px 18px;
    margin: 0px;
    height: 25px;
    line-height: 25px;
}
.cssSelect .optionBox span {
    cursor: pointer;
    font-size: 12px;
}
.cssSelect .oNormal {} 

.cssSelect .oHover {
    background: #888888;
    color: #000;
}
.cssSelect .selected {
    background: #f2f2f2;
    color: #000;
}