body {
    background: #f2f2f2;
}

.container {
    width: 100%;
    min-width: 1200px;
    background: #f2f2f2;
    height: 100%;
}

/* 头部 */

header {
    width: 100%;
    height: 116px;
    background: #fff;
}

.header-top-wrap {
    width: 100%;
    border-bottom: 1px solid #eeeeee;
}

.header-top {
    max-width: 1200px;
    height: 35px;
    margin: 0 auto;
}

.l-height {
    line-height: 35px;
    margin-left: 22px;
    margin-right: 22px;
}

.user_ck a {
    margin-right: 45px;
    padding-left: 20px;
}

.my_goumai a {
    background: url(../images/gm.png) no-repeat center left;
}

.my_shoucang a {
    background: url(../images/sc.png) no-repeat center left;
}

.my_shoucang .myScImg {
    background: url(../images/collection.png) no-repeat center left;
    color: #e13934;
}

.my_center a {
    background: url(../images/center.png) no-repeat center left;
    margin-right: 59px;
}

.dl-padding {
    margin-right: 23px;
    color: #e13934;
}

.zc-padding {
    margin-left: 23px;
}

.shuxian {
    border-left: 1px solid #dbdbdb;
}

.header-bottom {
    max-width: 1200px;
    margin: 0 auto;
    height: 80px;
}

.logo,
.nav {
    line-height: 80px;
    margin-left: 10px;
}

.nav .nav-li {
    float: left;
    margin-left: 28px;
}

.nav .nav-li a {
    font-size: 18px;
    color: #3b3b3b;
}

.nav .nav-li .active {
    color: #e13934;
    border-bottom: 3px solid #e13934;
    display: inline-block;
    height: 65px;
}

.telNumber {
    font-size: 18px;
    color: #e13934;
    margin-left: 8px;
    margin-right: 8px;
}

.nav-li7 img {
    margin-top: -8px;
}

.nav-li2,
.nav-li3 {
    position: relative;
}

.nav-li2:hover .nav-hover1,
.nav-li3:hover .nav-hover2 {
    display: block;
    z-index: 100;
}

.nav-li2 ul,
.nav-li3 ul {
    position: absolute;
}

.nav-hover1,
.nav-hover2 {
    background: #e13934;
    top: 62px;
}

.nav-hover1 li .nav-a:hover,
.nav-hover2 li .nav-a:hover {
    background: #d50616;
}

.nav-hover1 li .nav-a,
.nav-hover2 li .nav-a {
    display: block;
    padding: 0 28px;
    color: #fff;
    font-size: 17px;
    height: 34px;
    line-height: 34px;
}

.mask {
    position: absolute;
    top: 0px;
    filter: alpha(opacity=47);
    background-color: #000;
    z-index: 1002;
    left: 0px;
    opacity: 0.47;
    -moz-opacity: 0.47;
}

.login {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 422px;
    height: 346px;
    padding: 24px 34px 0 34px;
    background: #fff;
    z-index: 1003;
}

.login h5 {
    font-size: 20px;
    color: #e13934;
    letter-spacing: 5px;
    margin-bottom: 26px;
    font-weight: 600;
}

.telNumbers,
.psd {
    width: 330px;
    height: 44px;
    border: 1px solid #dcdbdb;
    font-size: 15px;
    color: #000;
    line-height: 44px;
    padding: 0 45px;
    background: url(../images/telNum.png) no-repeat 16px center;
    margin-bottom: 29px;
}

.psd {
    background: url(../images/psd.png) no-repeat 16px center;
}

.telNumbers:focus,
.psd:focus {
    border: 1px solid #e13934;
}

.remb-psd {
    font-family: MicrosoftYaHei;
    font-size: 14px;
    line-height: 29px;
    letter-spacing: 2px;
    color: #808080;
}

.forg-psd a {
    font-size: 14px;
    color: #e13934;
}

.btn-sub {
    margin-top: 10px;
    width: 422px;
    height: 45px;
    background: #e13934;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 3px;
    color: #fffefe;
    cursor: pointer;
}

.login-register {
    text-align: right;
    margin-top: 19px;
}

.login-register span {
    font-family: MicrosoftYaHei;
    font-size: 14px;
    letter-spacing: 1px;
    color: #656565;
}

.login-register a {
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #e13934;
}

/*复选框*/

.new-checkBox,
.new-radio {
    position: relative;
    height: 20px;
    line-height: 18px;
    display: inline-block;
    margin-right: 10px;
    padding-left: 20px;
    cursor: pointer;
    font-size: 0;
    vertical-align: middle;
}

.new-checkBox span,
.new-radio span {
    padding: 0 6px;
    float: left;
    display: inline-block;
    height: 100%;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.new-checkBox i,
.new-radio i {
    color: #999;
    position: absolute;
    top: 1px;
    display: block;
    left: 0;
    font-size: 18px;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.new-checkBox.checked-ture i,
.new-radio.checked-ture i {
    color: #e13934;
}

.cao-checkBox {
    display: none;
}

.cao-radio {
    display: none;
}

/* 注册 */

.register {
    width: 422px;
    height: 407px;
    text-align: center;
    padding: 24px 39px 46px 39px;
    background: #fff;
    position: absolute;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1003;
}

.register-title {
    font-size: 20px;
    color: #e13934;
    font-weight: 600;
    margin-bottom: 26px;
}

.register-number {
    width: 330px;
    height: 44px;
    border: 1px solid #dcdbdb;
    font-size: 15px;
    color: #000;
    line-height: 44px;
    padding: 0 45px;
    background: url(../images/telNum.png) no-repeat 16px center;
    margin-bottom: 23px;
}

.psd-icon {
    background: url(../images/psd.png) no-repeat 16px center;
}

.register-number:focus,
.yzm:focus {
    border: 1px solid #e13934;
}

.yzm {
    width: 219px;
    height: 45px;
    border: 1px solid #dcdbdb;
    font-size: 15px;
    color: #000;
    line-height: 44px;
    margin-bottom: 23px;
    background: url(../images/yzm.png) no-repeat 16px center;
    padding: 0 45px;
}

.yzm-time {
    width: 104px;
    height: 47px;
    text-align: center;
    line-height: 47px;
    font-size: 14px;
    border: 1px solid #e13934;
    color: #e13934;
    background: #fff;
}

.register-btn {
    width: 422px;
    height: 46px;
    background: #e13934;
    text-align: center;
    line-height: 46px;
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 19px;
}

.ptxy {
    color: #e13934;
}

/* 底部 */

.container-footer {
    width: 100%;
    background: #333;
    height: 100%;
}

.footer {
    width: 100%;
    height: 100%;
}

.footer-wrap {
    max-width: 1200px;
    padding: 46px 0 0px 0;
    margin: 0 auto;
}

.footer-up {
    padding-bottom: 39px;
    box-shadow: 0px 1px 0px 0px rgba(106, 106, 106, 0.35);
    border-bottom: solid 1px #414141;
}

.footer-up-left {
    margin-top: 39px;
}

.footer-up-left li {
    float: left;
    border-right: 1px solid #424242;
    height: 19px;
    padding: 0 25px;
}

.footer-up-left li a {
    color: #8b8b8b;
}

.footer-up-left li a:hover {
    color: #d5d5d5;
}

.footer-up-left li:first-child {
    padding-left: 0;
}

.footer-up-left li:nth-child(6) {
    border-right: 0;
}

.footer-up-mid {
    margin-left: 100px;
    margin-top: 23px;
}

.footer-up-mid li {
    background: #333333;
    margin-right: 20px;
}

.footer-up-mid .qq {
    display: inline-block;
    width: 70px;
    height: 70px;
    background: url(../images/ftbg.png) no-repeat;
    background-position: -108px -76px;
}

.footer-up-mid .qq:hover {
    background-position: -108px top;
}

.footer-up-mid .wb {
    display: inline-block;
    width: 70px;
    height: 70px;
    background: url(../images/ftbg.png) no-repeat;
    background-position: -185px -76px;
}

.footer-up-mid .wb:hover {
    background-position: -185px top;
}

.footer-up-mid .wx {
    display: inline-block;
    width: 70px;
    height: 70px;
    background: url(../images/ftbg.png) no-repeat;
    background-position: -262px -76px;
}

.footer-up-mid .wx:hover {
    background-position: -262px top;
}

.kf-up {
    text-align: center;
}

.kefu {
    margin-left: 12px;
    color: #d5d5d5;
}

.kefuNumber {
    font-size: 25px;
    color: #d5d5d5;
    margin-top: 19px;
    text-align: center;
}

.work-time {
    font-size: 14px;
    color: #949494;
    text-align: center;
    margin-top: 18px;
}

.footer-mid-img {
    padding: 24px 0;
}

.footbottom_left {
    text-align: center;
    padding: 18px 0;
    font-size: 12px;
    color: #666;
}

.footbottom .footbottom_left a {
    display: inline-block;
    width: 111px;
    height: 40px;
}

.szfw_logo {
    background: url(../images/cert.png) no-repeat;
}

.szfw_logo:hover {
    background: url(../images/cert2.png) no-repeat;
}

.kx_logo {
    background: url(../images/kexin.png) no-repeat;
}

.kx_logo:hover {
    background: url(../images/kexin2.png) no-repeat;
}

.aq_logo {
    background: url(../images/hy_124x47.png) no-repeat;
    background-size: 100% 100%;
}

.aq_logo:hover {
    background: url(../images/hy_124x47_1.png) no-repeat;
    background-size: 100% 100%;
}

.kx_logo,
.aq_logo {
    margin-left: 10px;
}

.footer_copy {
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    color: #737373;
}

/* 轮播 */

.swiper-container {
    width: 100%;
    height: 350px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.login_w {
    position: relative;
    top: -348px;
    max-width: 1200px;
    margin: 0 auto;
}

.login_swiper {
    position: absolute;
    top: 21px;
    right: 20px;
    z-index: 100;
    width: 274px;
    height: 268px;
    padding: 21px 16px 18px 16px;
    background: rgba(157, 157, 157, 0.75);
}

.login_swiper h5 {
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.login_swiper .zf {
    font-size: 30px;
    color: #e13934;
    text-align: center;
    font-weight: 600;
    line-height: 30px;
    margin: 5px 0;
}

.login_swiper .zf span {
    font-size: 24px;
    font-weight: 600;
    color: #e13934;
}

.swiper_tel,
.swiper_psd {
    width: 254px;
    height: 12px;
    padding: 16px 9px;
    font-size: 14px;
    background: #cecece;
    border-radius: 5px;
    border: 1px solid #cecece;
    margin-bottom: 18px;
}

.swiper_tel:focus,
.swiper_psd:focus {
    border: solid 1px rgba(225, 57, 52, 0.76);
}

.swiper_tel::-webkit-input-placeholder,
.swiper_psd::-webkit-input-placeholder {
    /* WebKit browsers*/
    color: #999 !important;
    font-size: 14px;
}

.swiper_te:-moz-placeholder,
.swiper_psd:-moz-placeholder {
    /* Mozilla Firefox 4 to 18*/
    color: #909090 !important;
    font-size: 14px;
}

.swiper_te::-moz-placeholder,
.swiper_psd::-moz-placeholder {
    /* Mozilla Firefox 19+*/
    color: #909090 !important;
    font-size: 14px;
}

.swiper_te:-ms-input-placeholder,
.swiper_psd:-ms-input-placeholder {
    /* Internet Explorer 10+*/
    color: #909090 !important;
    font-size: 14px;
}

.swiper_btn {
    width: 274px;
    height: 44px;
    background: #e13934;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 14px;
}

.forg_psd,
.now_zc a {
    font-size: 13px;
    color: #e13934;
}

.now_zc {
    font-size: 13px;
    color: #3d3d3d;
}

/* 文字滚动样式 */

.huadong_wrap {
    border-bottom: 1px solid #dbcdcd;
    background: #f2f2f2;
}

.huadong {
    width: 1200px;
    height: 46px;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
    font: 12px/1.5 "Hiragino Sans GB", "Microsoft YaHei", simsun;
    margin: 0 auto;
}

.huadong .huabox {
    margin: 0 auto;
    width: 100%;
}

.huadong .hdimg {
    float: left;
    line-height: 46px;
    margin-left: 10px;
}

.huadong .hdimg img {
    width: 100%;
    vertical-align: middle;
}

.huadong h5 {
    font-size: 14px;
    float: left;
    color: #e13934;
    line-height: 46px;
}

.huadong .notice_active {
    float: left;
    width: 966px;
    height: 46px;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.huadong .notice_active li {
    width: 483px;
    list-style-type: none;
    line-height: 46px;
    overflow: hidden;
}

.huadong .notice_active li.notice_active_ch span {
    color: #6c6c6c;
    font-size: 14px;
    overflow: hidden;
}

.huadong .notice_active li.notice_active_ch em {
    text-align: right;
    color: #6c6c6c;
    font-size: 14px;
}

.notice_span {
    margin-left: 10px;
}

.hotContent_wrap {
    background: #f2f2f2;
    padding: 28px 0;
    text-align: center;
}

.hot_title {
    padding-bottom: 28px;
    margin: 0 auto;
}

.hot_title h5 {
    font-size: 24px;
    color: #494949;
    margin-bottom: 12px;
}

.hot_title p {
    font-size: 14px;
    color: rgb(133, 133, 133, 0.74);
}

.hotList {
    max-width: 1200px;
    margin: 0 auto;
}

.hotList li {
    height: 300px;
    background: #fff;
    margin: 0 auto;
    margin-bottom: 30px;
}

.hotList li .cpImg {
    width: 477px;
    height: 300px;
}

.cp_content {
    width: 603px;
    height: 250px;
    border: 1px solid #dfdfdf;
    padding: 26px 70px 22px 49px;
    border-left: 0px;
}

.cp_content h2 {
    text-align: left;
    font-size: 22px;
    color: #303030;
    font-weight: 600;
}

.ls_wrap {
    text-align: right;
    margin-top: 15px;
}

.ls_wrap .liulan {
    color: #727272;
    padding-left: 24px;
    background: url(../images/liulan.png) no-repeat center left;
}

.ls_wrap .shoucang {
    color: #727272;
    padding-left: 24px;
    background: url(../images/shoucang.png) no-repeat center left;
    margin-left: 48px;
}

.sc_time {
    font-size: 16px;
    color: #474646;
    text-align: left;
    margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #dfdfdf;
}

.zhangfu_name {
    padding: 22px 0;
    text-align: left;
}

.zhangfu_name dl {
    width: 33.3%;
    text-align: center;
}

.zf_name_span1 {
    font-size: 34px;
    color: #e13934;
    font-family: Arial, Helvetica, sans-serif;
}

.zf_name_span2 {
    font-size: 20px;
    color: #e13934;
}

.zhangfu_name dl dd {
    font-size: 15px;
    color: #919191;
    margin-top: 5px;
}

.cpName {
    font-size: 20px;
    color: #3c3c3c;
    margin-bottom: 19px;
}

.look_detail_cp {
    display: block;
    width: 347px;
    height: 40px;
    margin: 0px auto;
    margin-top: 15px;
    background-color: #e13934;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 17px;
    line-height: 40px;
}

.hyzx {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.hyzx .hyzxLi {
    width: 367px;
    padding: 17px 9px 26px 9px;
    border: 1px solid #e2e2e2;
    background: #fff;
}

.hyzxImgWrap {
    position: relative;
    width: 367px;
    height: 164px;
}

.hyzxLi2 {
    margin-left: 20px;
}

.hyzxWz {
    position: absolute;
    top: -6px;
    left: 0;
    background: rgb(255, 57, 52, 0.75);
    width: 48px;
    height: 49px;
    font-size: 20px;
    color: #fff;
    padding: 63px 37px 63px 37px;
}

.hyzxContent {
    margin-top: 28px;
    max-height: 60px;
    overflow: hidden;
}

.hyzxContent p {
    position: relative;
    line-height: 20px;
    max-height: 20px;
    overflow: hidden;
}

.hyzxContent p::after {
    content: "...";
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 40px;
    background: -webkit-linear-gradient(left, transparent, #fff 55%);
    background: -o-linear-gradient(right, transparent, #fff 55%);
    background: -moz-linear-gradient(right, transparent, #fff 55%);
    background: linear-gradient(to right, transparent, #fff 55%);
}

.hyzxMoreWrap {
    text-align: right;
    margin-top: 22px;
}

.hyzxMore {
    text-align: center;
    width: 60px;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    color: #e13934;
    border: 1px solid #e13934;
    display: inline-block;
    border-radius: 5px;
}

.hzhbWrap {
    width: 1200px;
    margin: 0 auto;
}

.hzhbWrap h2 {
    font-size: 24px;
    color: #494949;
    text-align: center;
    margin-bottom: 22px;
}

table {
    width: 1200px;
    margin-bottom: 85px;
    border-collapse: collapse;
}

table,
td {
    border: 1px solid #dfdfdf;
    text-align: center;
    background: #fff;
}

.partner {
    background: url(../images/company_logo.png) no-repeat;
    height: 72px;
    width: 162px;
    display: inline-block;
}

.part1 {
    background-position: 0 0;
    width: 162px;
}

.part1:hover {
    background-position: 0 -334px;
}

.part2 {
    background-position: -173px 0;
    width: 162px;
}

.part3 {
    background-position: -346px 0;
    width: 162px;
}

.part4 {
    background-position: -519px 0;
    width: 162px;
}

.part5 {
    background-position: -692px 0;
    width: 162px;
}

.part6 {
    background-position: -865px 0;
    width: 162px;
}

.part7 {
    background-position: -1038px 0;
    width: 162px;
}

.part8 {
    background-position: 0 -83px;
    width: 162px;
}

.part9 {
    background-position: -173px -83px;
    width: 162px;
}

.part10 {
    background-position: -346px -83px;
    width: 162px;
}

.part11 {
    background-position: -519px -83px;
    width: 162px;
}

.part12 {
    background-position: -692px -83px;
    width: 162px;
}

.zst {
    margin-bottom: 80px;
}

.zstTitleWrap {
    margin: 0 auto;
    width: 1200px;
    border: solid 1px #dfdfdf;
    border-top: 0;
}

.zstTitle {
    padding: 0 82px 0 20px;
    height: 45px;
    background: #e13934;
}

.zstName {
    line-height: 45px;
    padding-left: 30px;
    color: #fff;
    font-size: 18px;
    background: url(../images/zst.png) no-repeat center left;
}

.zstChoice {
    padding: 7px 0;
}

.zstImg {
    background: #fff;
}

/* 艺术品购买 */

.ysp_wrap {
    width: 100%;
}

.ysp_choice {
    width: 1122px;
    padding: 30px 39px;
    background: #fff;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 28px;
}

.sj_time {
    margin-bottom: 23px;
}

.sj_time li .sj_time_title,
.buy_money_title {
    font-size: 16px;
    color: #7f7f7f;
}

.sj_time li a,
.buy_money li a {
    font-size: 15px;
    color: #363636;
    padding: 7px 15px;
    margin: 0 20px;
}

.sj_time li a:hover,
.buy_money li a:hover {
    background: #e13934;
    color: #fff;
    border-radius: 5px;
}

.choiceActived {
    background: #e13934;
    color: #fff !important;
    border-radius: 5px;
}

.ysp_list {
    width: 1198px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.ysp_lists {
    padding: 24px 44px 24px 16px;
    background: #fff;
    border: solid 1px #dfdfdf;
    margin-bottom: 20px;
}

.ysp_listContent {
    margin-left: 24px;
}

.ysp_listContent h2 {
    font-size: 19px;
    font-weight: 600;
    color: #242424;
}

.ysp_listContent p {
    font-size: 16px;
    margin-top: 14px;
    color: #474646;
}

.ysp_listContMid {
    width: 616px;
    padding-top: 30px;
    border-right: solid 1px #dfdfdf;
}

.ysp_list_up {
    text-align: center;
}

.ys_lis_mid {
    text-align: center;
    width: 50%;
}

.ysp_list_down {
    text-align: center;
    width: 25%;
}

.ysp_listContMid_span1 {
    font-size: 32px;
    color: #e13934;
    font-family: "Arial";
}

.ysp_listContMid_span2 {
    font-size: 22px;
    color: #e13934;
}

.ysp_listContMidName {
    color: #52504f;
    font-size: 22px;
}

.ysp_listContMid dl dd {
    font-size: 15px;
    color: #919191;
}

.ysp_listContMid dl dt {
    margin-bottom: 10px;
}

.ysp_lx {
    margin-top: 17px;
}

.add_sc {
    display: block;
    width: 89px;
    height: 32px;
    border-radius: 8px;
    border: solid 1px #cbcbcb;
    text-align: center;
    line-height: 32px;
    margin-top: 22px;
}

.sc_success {
    width: 188px;
    height: 50px;
    border-radius: 5px;
    line-height: 50px;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(73, 73, 73, 0.5);
    color: #fff;
    text-align: center;
}

.looks_cont {
    display: block;
    width: 166px;
    height: 44px;
    background-color: #e13934;
    border-radius: 5px;
    line-height: 44px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin-top: 89px;
}

.sc_ck {
    margin-top: 50px;
    width: 100%;
}

.sc_ck .sc_ck_span1 {
    color: #969696;
    padding-left: 23px;
    background: url(../images/liulan.png) no-repeat center left;
}

.sc_ck .sc_ck_span2 {
    color: #969696;
    padding-left: 23px;
    background: url(../images/shoucang.png) no-repeat center left;
}

.pages {
    width: 1200px;
    text-align: right;
    margin: 0 auto;
}

.page_normal {
    padding: 20px 20px 129px 0px;
}

.page_normal a,
.page_normal .page_current,
.page_normal .page_prev {
    margin-left: 10px;
    border: 1px solid #e2e2ec;
    width: 38px;
    height: 30px;
    font-size: 14px;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    color: #818181;
    background-color: #ffffff;
}

.page_normal .page_prev,
.page_normal .page_next {
    width: 75px;
    height: 30px;
    background: #efefef;
}

.page_normal .page_current {
    color: #ffffff;
    background-color: #e13934;
    border-color: #e13934;
}

.my_jm {
    margin: 0 auto;
    width: 1200px;
    padding: 26px 0px 61px 0px;
    background-color: #ffffff;
    border: solid 1px #e4e4e4;
    margin-top: 25px;
    margin-bottom: 40px;
}

.my_jm h2 {
    text-align: center;
    font-size: 24px;
    color: #242424;
    margin-bottom: 49px;
}

.selects {
    margin-bottom: 76px;
    padding: 0 26px;
}

.selects_name {
    line-height: 32px;
    font-size: 15px;
    color: #4f4e4e;
    margin-right: 22px;
}

.orderInf {
    margin-bottom: 46px;
    padding: 0 26px;
}

.orderInfTitle {
    font-size: 17px;
    color: #1a1a1a;
    padding-left: 8px;
    border-left: 3px solid #e13934;
    margin-bottom: 17px;
}

.orderInfContent {
    width: 1148px;
    border: solid 1px #d7d7d7;
}

.orderInfContLeft {
    width: 664px;
    padding: 21px 0 34px 35px;
}

.orderInfContLeft_title {
    font-size: 14px;
    color: #3c3c3c;
    margin-bottom: 29px;
    font-weight: 600;
}

.orderInfs,
.orderInfs span {
    font-size: 14px;
    color: #3c3c3c;
    margin-bottom: 22px;
}

.orderInfs span {
    margin-left: 27px;
}

.orderInfs:last-child {
    margin-bottom: 0;
}

.orderInfContRight {
    border-left: solid 1px #e4e4e4;
    padding: 21px 0 34px 114px;
}

.ysptableWrap {
    padding: 0 26px;
}

.tableList {
    width: 100%;
    border: solid 1px #e4e4e4;
    text-align: center;
    background: #fff;
    margin-bottom: 54px;
}

.tableList thead th {
    border: 0;
    background: #eceff2;
}

.tableList tbody td {
    border: 0;
}

.tableList thead tr {
    height: 37px;
}

.tableList tbody tr td {
    padding-top: 12px;
}

.tableList tbody tr:last-child td {
    padding-bottom: 12px;
}

.tableTdMoney {
    font-size: 14px;
    color: #e13934;
}

.selects2 {
    margin-bottom: 36px;
}

.jmName {
    width: 105px;
    text-align: right;
}

.jmQx {
    border-bottom: solid 1px #e3e3e3;
}

.jmQxInf {
    padding: 0 26px;
    margin-bottom: 34px;
}

.jmQxInf p .jmInfTitle {
    display: inline-block;
    width: 105px;
    text-align: right;
    margin-right: 22px;
    margin-bottom: 32px;
}

.yqMoney {
    font-size: 18px;
    color: #e13934;
}

.yqMoney span {
    font-size: 15px;
    color: #e13934;
}

.ptxy_ysp {
    padding: 34px 34px 0 49px;
}

.ptxy_fxk {
    margin-bottom: 31px;
}

.wx_tips {
    font-size: 14px;
    color: #e13934;
    margin-bottom: 19px;
}

.tips_contents {
    margin-bottom: 49px;
}

.tips_contents li {
    font-size: 13px;
    line-height: 27px;
    color: #7e7e7e;
}

.ysp_btn_groups {
    text-align: center;
}

.sure {
    width: 158px;
    height: 40px;
    background-color: #e13934;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    margin-right: 54px;
}

.cancle {
    width: 116px;
    height: 40px;
    background-color: #cbcbcb;
    border-radius: 5px;
    font-size: 15px;
    color: #ffffff;
}

/* 面包屑导航 */

ul.breadcrumb {
    width: 1168px;
    margin: 0 auto;
    padding: 13px 16px;
    list-style: none;
}

.breadcrumb .home {
    padding-left: 20px;
    background: url(../images/home.png) no-repeat center left;
}

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: #969696;
    content: ">\00a0";
}

ul.breadcrumb li a {
    font-size: 14px;
    color: #969696;
}

/* 产品详情 */

.detailWrap {
    width: 1152px;
    background: #fff;
    padding: 29px 24px 128px 24px;
    margin: 0 auto;
    margin-bottom: 43px;
}

.cont_wrap {
    margin-bottom: 89px;
}

/* 放大镜 */

/* clearfix */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

*html .clearfix {
    zoom: 1;
}

.preview {
    width: 395px;
    height: 366px;
}

/* smallImg */

.smallImg {
    position: relative;
    height: 52px;
    margin-top: 1px;
    background-color: #f1f0f0;
    padding: 6px 5px;
    width: 390px;
    overflow: hidden;
    float: left;
}

.scrollbutton {
    width: 14px;
    height: 50px;
    overflow: hidden;
    position: relative;
    float: left;
    cursor: pointer;
}

.scrollbutton.smallImgUp,
.scrollbutton.smallImgUp.disabled {
    background: url(../images/d_08.png) no-repeat;
}

.scrollbutton.smallImgDown,
.scrollbutton.smallImgDown.disabled {
    background: url(../images/d_09.png) no-repeat;
    margin-left: 375px;
    margin-top: -50px;
}

#imageMenu {
    height: 50px;
    width: 360px;
    overflow: hidden;
    margin-left: 0;
    float: left;
}

#imageMenu li {
    height: 50px;
    width: 60px;
    overflow: hidden;
    float: left;
    text-align: center;
}

#imageMenu li img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#imageMenu li#onlickImg img,
#imageMenu li:hover img {
    width: 44px;
    height: 44px;
    border: 3px solid #959595;
}

/* bigImg */

.bigImg {
    position: relative;
    float: left;
    width: 395px;
    height: 366px;
    overflow: hidden;
}

.bigImg #midimg {
    width: 395px;
    height: 366px;
}

.bigImg #winSelector {
    width: 235px;
    height: 210px;
}

#winSelector {
    position: absolute;
    cursor: crosshair;
    filter: alpha(opacity=15);
    -moz-opacity: 0.15;
    opacity: 0.15;
    background-color: #000;
    border: 1px solid #fff;
}

/* bigView */

#bigView {
    position: absolute;
    overflow: hidden;
    z-index: 999;
}

#bigView img {
    position: absolute;
}

.detail_content {
    margin-left: 51px;
}

.detail_content h2 {
    font-size: 20px;
    color: #242424;
    font-weight: 600;
    margin-bottom: 37px;
}

.dNumber {
    font-size: 16px;
    color: #474646;
    margin-bottom: 37px;
}

.dNumberSpanWrap {
    margin-bottom: 91px;
}

.dNumberSpan {
    font-size: 22px;
    color: #e13934;
}

.dNumberSpan span {
    font-size: 20px;
    color: #474646;
}

.dNumberSpan2 {
    margin-left: 159px;
}

.detail_look {
    margin-left: 31px;
}

.detail_border {
    border-bottom: solid 1px #e3e3e3;
    padding-bottom: 16px;
    margin-bottom: 41px;
}

.detail_btn_groups {
    text-align: center;
}

.detail_btn_groups a:first-child {
    display: inline-block;
    width: 166px;
    height: 44px;
    background-color: #e13934;
    border-radius: 5px;
    font-size: 18px;
    line-height: 44px;
    text-align: center;
    color: #ffffff;
}

.detail_btn_groups a:last-child {
    display: inline-block;
    width: 166px;
    height: 44px;
    border-radius: 5px;
    border: solid 1px #e13934;
    font-size: 18px;
    text-align: center;
    line-height: 44px;
    color: #e13934;
    margin-left: 60px;
}

.chanpin_detail {
    margin-bottom: 53px;
}

.chanpin_detail h2,
.changpin_ms h2,
.hot_chanpin h2,
.buy_methodWrap h2,
.cpTj h2,
.orderName h2 {
    font-size: 18px;
    color: #323232;
    border-left: 5px solid #e13934;
    padding-left: 10px;
    margin-bottom: 28px;
}

.chanpin_table {
    width: 100%;
    margin-bottom: 0;
}

.chanpin_table tr td {
    padding: 20px 0;
}

.chanpin_table tr td:first-child,
.chanpin_table tr td:nth-child(3) {
    font-size: 16px;
    color: #7e7e7e;
}

.chanpin_table tr td:nth-child(2),
.chanpin_table tr td:nth-child(4) {
    font-size: 16px;
    color: #474646;
    text-align: left;
    padding-left: 26px;
}

.changpin_ms p {
    font-size: 15px;
    line-height: 29px;
    color: #474646;
    text-indent: 30px;
    margin: 0 70px 69px 60px;
}

.img_group {
    text-align: center;
    margin-bottom: 89px;
}

.img_group li {
    margin-bottom: 16px;
}

.img_group li:last-child {
    margin-bottom: 0;
}

.hot_cp_list {
    margin-bottom: 91px;
}

.hot_cp_list li {
    width: 275px;
    float: left;
    border: 1px solid #e3e3e3;
    margin-left: 10px;
}

.hot_cp_list li .hot_money {
    color: #e13934;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 13px;
}

.hot_cp_list li .hot_money span {
    color: #e13934;
    margin-left: 13px;
    font-size: 14px;
}

.hot_cp_list li .hot_name {
    font-size: 14px;
    color: #5f5f5f;
    margin-bottom: 31px;
    margin-left: 13px;
}

.fx_list {
    margin-bottom: 24px;
}

.fx_list li:first-child {
    font-size: 20px;
    line-height: 37px;
    letter-spacing: 1px;
    color: #e13934;
    font-weight: 600;
    padding-left: 45px;
    margin-bottom: 16px;
}

.fx_list li:last-child {
    font-size: 15px;
    letter-spacing: 0px;
    padding-left: 45px;
    color: #9a9a9a;
}

.icon1 {
    background: url(../images/icon-1.png) no-repeat center left;
}

.icon2 {
    background: url(../images/icon-2.png) no-repeat center left;
}

.icon3 {
    background: url(../images/icon-3.png) no-repeat center left;
}

.icon4 {
    background: url(../images/icon-4.png) no-repeat center left;
}

/* 购买成功 */

.successWrap {
    width: 1200px;
    margin: 0 auto;
    background: #fff;
    margin-bottom: 26px;
    text-align: center;
    padding-top: 129px;
    padding-bottom: 275px;
}

.successWrap img {
    margin-bottom: 20px;
}

.successTips {
    font-size: 17px;
    color: #3a3a3a;
    font-weight: 600;
    margin-bottom: 22px;
}

.successChuli {
    font-size: 14px;
    color: #a1a1a1;
    margin-bottom: 64px;
}

.successLooks {
    display: inline-block;
    width: 140px;
    height: 36px;
    background-color: #e13934;
    border-radius: 5px;
    line-height: 36px;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
}

.psd_tips {
    font-size: 18px;
    letter-spacing: 1px;
    color: #363636;
    margin-bottom: 56px;
}

.now_login {
    display: inline-block;
    width: 276px;
    height: 45px;
    background-color: #e13934;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    letter-spacing: 3px;
    color: #fffefe;
    border-radius: 5px;
}

.buy_methodWrap {
    width: 1150px;
    padding: 25px 25px 53px 25px;
    margin: 0 auto;
    margin-bottom: 40px;
    background: #fff;
}

.method_title {
    font-size: 16px;
    color: #5d5d5d;
    margin-bottom: 31px;
}

.tab-head {
    margin-bottom: 58px;
}

.selected-li {
    display: inline-block;
    width: 90px;
    height: 32px;
    background-color: #e13934;
    border-radius: 5px;
    border: solid 2px #e13934;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    color: #fff;
    margin-left: 57px;
}

.normal-li {
    display: inline-block;
    width: 90px;
    height: 32px;
    border-radius: 5px;
    border: solid 2px #e13934;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    margin-left: 57px;
    color: #e13934;
}

.tab-content {
    padding: 21px 28px 23px 28px;
    border: solid 1px #d7d7d7;
}

.tab_li1 h3,
.tab_li2 h3,
.tab_li3 h3 {
    font-size: 14px;
    color: #3c3c3c;
    margin-left: 7px;
    margin-bottom: 18px;
}

.jc_cangku {
    margin-left: 59px;
    margin-bottom: 27px;
    margin-top: 18px;
}

.tab_li1,
.tab_li2 {
    padding-bottom: 31px;
    border-bottom: 1px solid #d7d7d7;
}

.tab_li2 {
    margin-top: 27px;
}

.jc_cangku span,
.jc_times span {
    display: inline-block;
    padding: 10px 27px 10px 20px;
    font-size: 14px;
    border: solid 2px #fff;
    color: #3c3c3c;
    cursor: pointer;
    margin-left: 22px;
}

.jc_cangku span:first-child {
    margin-left: 0;
}

.jc_cangku span:nth-child(2) {
    margin-left: 0px;
}

.jc_cangku span:nth-child(3) {
    margin-left: -32px;
}

.jc_cangku .jc_choice,
.jc_times .jc_choice,
.pay_method .jc_choice {
    border: solid 2px #e13934;
    background: url(../images/select.png) no-repeat right bottom;
}

.jc_times span {
    background-color: #ffffff;
    border: solid 2px #c4c4c4;
}

.pay_method span {
    display: inline-block;
    padding: 6px 33px 6px 13px;
}

.yh_inf {
    margin-left: 14px;
}

.pay_method,
.order_list,
.jc_times {
    margin-left: 59px;
}

.pay_method span {
    cursor: pointer;
    border: solid 2px #c4c4c4;
}

.tab_li3 {
    margin-top: 23px;
}

.orderTable {
    width: 82%;
    margin-bottom: 0;
    border: 0;
    margin-left: 30px;
}

.orderTable tr td {
    text-align: left;
    border: 0;
    padding: 10px 0;
}

.orderTableTr1 td {
    font-size: 14px;
    color: #595959;
}

.orderTableTr2 td {
    font-size: 14px;
    color: #242424;
}

.orderTableTr2 td:nth-child(4) {
    color: #e13934;
}

.down_infs {
    margin-top: 21px;
    text-align: right;
}

.down_infs_pWrap p {
    margin-bottom: 17px;
}

.down_infs_pWrap p .infsSpan1 {
    display: inline-block;
    width: 100px;
    font-size: 15px;
    color: #181818;
}

.down_infs_pWrap p .infsSpan2 {
    display: inline-block;
    width: 150px;
    text-align: left;
    font-size: 15px;
    color: #181818;
}

.dol {
    display: inline-block;
}

.down_infs_pWrap p .infsSpan2 span:first-child {
    font-size: 15px;
    color: #e13934;
}

.down_infs_pWrap p .infsSpan2 span:last-child {
    font-size: 18px;
    color: #e13934;
}

.jc_address {
    font-size: 14px;
    color: #818181;
    margin-bottom: 26px;
}

.sub_infs {
    width: 158px;
    height: 40px;
    background-color: #e13934;
    border-radius: 5px;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
}

.new_addressWrap .new_a1 {
    display: block;
    font-size: 14px;
    color: #e13934;
    margin-bottom: 25px;
}

.new_addressWrap .new_a2 {
    display: block;
    font-size: 14px;
    color: #e13934;
}

.add_address {
    margin-top: 82px;
    text-align: center;
}

.add_address p {
    font-size: 16px;
    color: #9e9e9e;
    margin-top: 33px;
}

.add_add {
    width: 168px;
    height: 40px;
    display: inline-block;
    background: #e13934;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    margin-top: 33px;
    margin-bottom: 360px;
    font-size: 16px;
}

.inputWrap h4 {
    text-align: center;
    font-size: 18px;
    color: #252525;
    margin-bottom: 50px;
    font-weight: 600;
}

.input_iptWrap li {
    margin-bottom: 23px;
}

.input_iptWrap li span {
    display: inline-block;
    width: 386px;
    text-align: right;
    margin-right: 20px;
}

.input_iptWrap li .ipt_kuang {
    font-size: 14px;
    padding: 13px 5px;
    border: 1px solid #d6d6d6;
    width: 305px;
}

.inputWrap .bc {
    text-align: center;
}

.iptSub {
    width: 185px;
    height: 40px;
    background: #e13934;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}

.selectWrap {
    padding: 11px 11px;
    outline: none;
}

/* 个人中心 */

.my_center .pers_center {
    background: url(../images/user.png) no-repeat center left;
    color: #e13934;
}

.centerLogin {
    color: #858484;
}

.center_Wrap {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 46px;
}

.center_left {
    width: 167px;
    padding: 0px 23px 0px 23px;
    background: #fff;
}

.center_title {
    font-size: 18px;
    color: #1a1a1a;
    padding-left: 31px;
}

.center_title1 {
    background: url(../images/user_center.png) no-repeat center left;
}

.center_title2 {
    background: url(../images/zj.png) no-repeat center left;
}

.center_title3 {
    background: url(../images/dd.png) no-repeat center left;
}

.center_left ul {
    padding-bottom: 30px;
    padding-top: 32px;
    border-bottom: solid 1px #e3e3e3;
}

.center_left ul:last-child {
    border: 0;
}

.center_left ul li a {
    display: inline-block;
    font-size: 15px;
    color: #757575;
    margin-left: 31px;
    margin-top: 22px;
}

.center_left ul li .active {
    color: #e13934;
}

.center_left ul li a:hover {
    color: #e13934;
}

.center_right {
    width: 971px;
    background: #fff;
    padding: 23px 0 58px 0;
}

.right_header {
    padding-bottom: 18px;
    border-bottom: 1px solid #e3e3e3;
}

.right_headerDiv1 {
    margin-left: 44px;
}

.right_headerDiv1 img {
    border-radius: 50%;
}

.useName {
    font-size: 17px;
    color: #232323;
    line-height: 49px;
}

.modify_inf {
    font-size: 15px;
    color: #e13934;
}

.modify_inf::after {
    content: " >";
}

.userInfWrap {
    margin-left: 15px;
}

.right_headerDiv2 {
    margin-left: 81px;
}

.right_headerDiv2P1 {
    font-size: 14px;
    color: #3e3d3d;
    line-height: 24px;
}

.saveWrap {
    margin-top: 13px;
}

.saveSpan1 {
    color: #e13934;
    vertical-align: middle;
}

.saveSpan2 {
    position: relative;
    display: inline-block;
    width: 235px;
    height: 11px;
    border: 1px solid #e13934;
    border-radius: 10px;
    padding: 1px;
    vertical-align: middle;
    margin-left: 8px;
}

.saveSpan2 span {
    margin: auto 1px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 1px;
    display: inline-block;
    height: 11px;
    border-radius: 10px;
    background: #e13934;
}

.saveSpan3 {
    color: #e13934;
    vertical-align: middle;
}

.bd_tel {
    margin-top: 11px;
    padding-left: 26px;
    background: url(../images/center1.png) no-repeat center left;
}

.bd_tel span {
    color: #626161;
}

.header_btnGroup {
    margin-right: 10px;
    margin-top: 27px;
}

.header_btnGroup a {
    padding: 8px 16px 8px 37px;
    border-radius: 8px;
    border: solid 1px #d5d5d5;
    background: url(../images/sc.png) no-repeat 15px center;
}

.znx_active a .mySc {
    margin-right: 10px;
    background: url(../images/sc.png) no-repeat 15px center;
}

.header_btnGroup .myScRed {
    background: url(../images/collection.png) no-repeat 15px center;
    color: #e13934;
    border: 1px solid #e13934;
}

.header_btnGroup .n_email {
    display: inline-block;
    width: 45px;
    position: relative;
    background: url(../images/email.png) no-repeat 11px center;
    padding-right: 26px;
}

.header_btnGroup .znx_email_active {
    background: url(../images/active_email.png) no-repeat 11px center;
    border: solid 1px #e13934;
    color: #e13934;
}

.n_email span {
    position: absolute;
    top: 3px;
    right: 7px;
    background: #e13934;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
}

.my_zc {
    padding: 36px 10px 37px 48px;
    border-bottom: 1px solid #e3e3e3;
}

.my_szSpan1 {
    font-size: 15px;
    color: #222222;
}

.my_szSpan2 {
    font-size: 22px;
    color: #e13934;
    margin-left: 16px;
}

.my_szSpan3 {
    font-size: 15px;
    color: #e13934;
}

.cz_btns {
    margin-left: 117px;
    margin-bottom: 64px;
}

.cz_btns .cz {
    display: inline-block;
    width: 90px;
    height: 30px;
    background-color: #e13934;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 15px;
}

.cz_btns .tx {
    display: inline-block;
    width: 90px;
    height: 30px;
    background-color: #bebebe;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    color: #fff;
    margin-left: 20px;
}

.center_table,
.tuijian_table {
    width: 100%;
    border: 0;
    margin-bottom: 0;
}

.center_table tr td {
    border: 0;
    padding: 8px 0;
    text-align: left;
}

.center_table tr:first-child td {
    color: #757575;
    font-size: 15px;
}

.center_table tr:last-child td {
    color: #555555;
    font-size: 20px;
}

.my_dingdan {
    padding: 55px 171px 86px 121px;
}

.dingdan {
    font-size: 14px;
    color: #707070;
}

.ddNumber span {
    font-size: 17px;
    color: #e13934;
}

.cpTj {
    padding: 0 10px 0 39px;
}

.cpin_list li:nth-child(odd) {
    float: left;
}

.cpin_list li:nth-child(even) {
    float: right;
}

.cpinLi {
    width: 438px;
    padding: 8px;
    border: 1px solid #e3e3e3;
    margin-bottom: 8px;
}

.chanpin_right {
    margin-left: 15px;
    padding-top: 12px;
}

.chanpinTitle {
    font-size: 17px;
    color: #1a1a1a;
}

.chanpinNumber {
    font-size: 14px;
    margin-top: 11px;
    color: #747474;
    margin-bottom: 15px;
}

.tuijian_table {
    border: 0;
}

.tj_buyWrap {
    margin-top: 17px;
}

.tuijian_table tr td {
    padding-bottom: 2px;
    width: 80px;
    border: 0;
}

.tj_money {
    font-size: 20px;
    color: #e13934;
}

.tj_money span {
    color: #e13934;
    font-size: 15px;
}

.lx_name {
    font-size: 16px;
    color: #353434;
}

.tuijian_table tr:last-child td {
    font-size: 13px;
    color: #737373;
}

.buy_jindu {
    position: relative;
    display: inline-block;
    width: 94px;
    height: 6px;
    background: #e9e9e9;
    border-radius: 10px;
    vertical-align: middle;
}

.buy_jindu span {
    margin: auto 1%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 1%;
    display: inline-block;
    height: 6px;
    background: #e13934;
    border-radius: 10px;
    vertical-align: middle;
}

.buy_now {
    display: inline-block;
    width: 80px;
    height: 26px;
    background: #e13934;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 26px;
    margin-left: 30px;
    border-radius: 5px;
}

.jy_history {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: #272727;
    margin-bottom: 51px;
}

.jy_history_cont,
.list_tab {
    padding: 0px 19px;
}

.jy_money span,
.time_choice span {
    font-size: 15px;
    color: #454545;
}

.jy_money .je_input {
    width: 244px;
    border: solid 1px #dfdfdf;
    padding: 6px 5px;
    font-size: 15px;
    color: #222222;
    margin-left: 10px;
}

.jy_lx {
    margin-left: 51px;
}

.model-select-box {
    display: inline-block;
    width: 197px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #dfdfdf;
    text-indent: 5px;
    position: relative;
    margin-left: 5px;
}

.model-select-text {
    height: 32px;
    padding-right: 32px;
    background: url(../images/sel_bg.png) no-repeat right 0;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.model-select-option {
    display: none;
    position: absolute;
    background: #fff;
    width: 100%;
    left: -1px;
    border: 1px solid #aaa;
}

.model-select-option li {
    height: 32px;
    line-height: 32px;
    color: #555;
    cursor: pointer;
}

.model-select-option li.seleced {
    background: #e13934;
    color: #fff;
}

.demo-input {
    padding-left: 10px;
    height: 32px;
    min-width: 262px;
    line-height: 32px;
    border: 1px solid #dfdfdf;
    background-color: #fff;
    border-radius: 2px;
    margin-left: 10px;
}

.layui-laydate-content table {
    border: 0;
    width: 100%;
}

.layui-laydate-content table tr td {
    border: 0;
}

.time_choice {
    margin-top: 19px;
}

.centerBtnGroup {
    margin-top: 35px;
    margin-bottom: 81px;
}

.centerBtnGroup .search {
    width: 95px;
    height: 32px;
    background-color: #e13934;
    border-radius: 5px;
    font-size: 15px;
    color: #ffffff;
}

.centerBtnGroup .reset {
    width: 95px;
    height: 32px;
    background-color: #dddddd;
    border-radius: 5px;
    font-size: 15px;
    color: #808080;
    margin-left: 30px;
}

/* 个人中心tab */

.list_tab {
    width: auto;
    height: auto;
    margin: 0 auto;
}

.list-tab-head {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 3px;
}

.list-tab-head ul {
    /* 为了兼容性，因为ie6/7不能使用伪类，所以加上此行代码。 */
    zoom: 1;
    width: 100%;
    height: 50px;
    list-style: none;
}

.list-normal-li {
    height: 50px;
    float: left;
    line-height: 50px;
    font-size: 16px;
    color: #272727;
    cursor: pointer;
    margin-right: 70px;
}

.list-selected-li {
    height: 50px;
    float: left;
    line-height: 50px;
    font-size: 16px;
    color: #e13934;
    margin-right: 70px;
    border-bottom: 3px solid #e13934;
}

.list-tab-content {
    width: 100%;
    height: auto;
}

.list-tab-content ul {
    width: 100%;
    height: auto;
    list-style: none;
}

.list-tab-content ul li {
    width: 100%;
    display: none;
    margin-top: 23px;
}

/* 利用after清除浮动 */

.list-tab-head ul:after {
    clear: both;
    content: '';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}

.histor_table {
    width: 100%;
    margin-bottom: 0;
}

.histor_table thead tr {
    height: 36px;
    background-color: #e9e9e9;
}

.histor_table thead tr th {
    color: #454545;
}

.histor_table tbody tr {
    height: 47px;
    border: 1px solid #e9e9e9;
}

.histor_table tbody tr td {
    border: 0;
    font-size: 14px;
    color: #454545;
}

.histor_table tbody tr .histor_table_td3 {
    font-weight: 600;
}

.histor_table tbody tr .histor_table_td8 a {
    color: #e13934;
}

.histor_table tbody tr .histor_table_td8 a:hover {
    text-decoration: underline;
}

.center_pages {
    width: 100%;
}

.center_page_normal {
    padding-bottom: 0;
}

.receiving_address h2,
.my_zc h2,
.person_inf h2,
.tixianWrap h2 {
    font-size: 18px;
    color: #272727;
    font-weight: 600;
    text-align: center;
    margin: 28px 0 62px 0;
}

.receiving_address .input_iptWrap li span {
    width: 302px;
}

.zj_my {
    border: 0;
}

.bringSuccess {
    text-align: center;
    margin-top: 125px;
}

.bringSuccess .wait {
    font-size: 16px;
    color: #161616;
    margin-top: 21px;
}

.wait_time {
    font-size: 13px;
    color: #4b4b4b;
    margin-top: 35px;
}

.know {
    display: inline-block;
    width: 215px;
    height: 40px;
    background-color: #e13934;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    font-size: 17px;
    color: #ffffff;
    margin-top: 72px;
}

.wait_time span {
    font-size: 13px;
    color: #4b4b4b;
    margin-left: 10px;
}

.person_img {
    text-align: center;
    margin-bottom: 39px;
}

.person_img img {
    border: 1px solid #e13934;
    border-radius: 100%;
}

.person_iptWrap p {
    margin-bottom: 23px;
}

.person_iptWrap p span,
.person_sex .sex {
    display: inline-block;
    width: 319px;
    text-align: right;
    color: #6e6e6e;
    font-size: 15px;
}

.person_iptWrap p input {
    width: 305px;
    padding: 11px 5px;
    border: 1px solid #d5d5d5;
    margin-left: 10px;
}

.person_iptWrap p input:focus {
    border: 1px solid #e13934;
}

.person_submit {
    text-align: center;
    margin-top: 56px;
}

.person_submit input {
    width: 185px;
    height: 40px;
    background-color: #e13934;
    border-radius: 5px;
    font-size: 17px;
    color: #ffffff;
}

.person_inf h2 {
    margin-bottom: 35px;
}

.person_sex {
    margin-bottom: 23px;
}

.sex_radio {
    margin-left: 10px;
}

.person_header {
    border: 0;
}

.xg_img {
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
    color: #272727;
    font-size: 16px;
}

.my_buyWrap {
    padding: 34px 42px 0px 42px;
}

.my_buyWrap h2 {
    font-size: 17px;
    color: #272727;
    font-weight: 600;
    margin-bottom: 40px;
}

.iptWidth {
    margin-right: 10px;
}

.jy_money .iptWidth input {
    width: 161px;
}

.my_buy {
    padding: 0;
}

.buy_lists_inf {
    position: relative;
    border: 1px solid #dfdfdf;
    padding: 11px 14px;
    margin-bottom: 13px;
}

.buy_lists .buy_lists_inf:last-child {
    margin-bottom: 0px;
}

.buy_lists_inf_right {
    margin-left: 12px;
}

.buy_name {
    font-size: 16px;
    color: #242424;
    font-weight: 600;
}

.buy_lists_name {
    width: 50%;
}

.buy_numbers {
    font-size: 14px;
    color: #747474;
    margin-top: 14px;
}

.buy_times {
    text-align: right;
    font-size: 15px;
    color: #a5a5a5;
    line-height: 27px;
}

.buy_lists_inf_right li {
    width: 694px;
}

.buy_lists_ifnLi1 {
    margin-top: 28px;
}

.buy_lists_span1,
.buy_lists_span3 {
    margin-right: 58px;
    color: #787878;
    font-size: 14px;
}

.buy_lists_span1 span {
    font-size: 20px;
    color: #e13934;
}

.buy_lists_span1 span span {
    font-size: 15px;
    color: #e13934;
}

.buy_lists_span3 span {
    color: #787878;
    font-size: 14px;
    line-height: 26px;
}

.buy_lists_span3 span span {
    font-size: 15px;
    color: #4a4a4a;
}

.buy_lists_span4 a {
    font-size: 15px;
    color: #e13934;
    margin-left: 16px;
    text-decoration: underline;
}

.buy_lists_span4 a:last-child {
    font-size: 15px;
    color: #303030;
}

.buy_pages {
    width: 100%;
    margin-top: 30px;
}

.buy_pages .page_normal {
    padding-bottom: 0;
}

.myBuyDetWrap {
    width: 1152px;
    margin: 0 auto;
    background: #fff;
    padding: 22px 24px 50px 24px;
    margin-bottom: 40px;
}

.go_back_wrap {
    margin-bottom: 14px;
}

.go_back_wrap p {
    font-size: 14px;
    line-height: 32px;
    color: #969696;
}

.go_back_wrap a {
    width: 90px;
    height: 32px;
    background-color: #e13934;
    border-radius: 5px;
    text-align: center;
    line-height: 32px;
    color: #fff;
}

.buy_success {
    text-align: center;
    margin-bottom: 66px;
}

.buy_success span {
    margin-left: 14px;
    font-size: 16px;
    color: #171717;
}

.orderName h2 {
    margin-bottom: 17px;
}

.order_table {
    border: 1px solid #d7d7d7;
    margin-bottom: 34px;
}

.order_table li:first-child {
    border-right: solid 1px #d7d7d7;
    width: 60%;
}

.order_table li:first-child h3,
.order_table li:nth-child(2) h3,
.order_table li:nth-child(3) h3 {
    font-size: 14px;
    color: #3c3c3c;
    margin: 21px 0 29px 35px;
    font-weight: 600;
}

.jc_infs {
    margin: 0px 0 22px 35px;
    ;
}

.jc_infs span:first-child {
    display: inline-block;
    width: 83px;
    font-size: 14px;
    color: #3c3c3c;
}

.jc_infs span:last-child {
    font-size: 14px;
    color: #3c3c3c;
}

.buy_myList {
    padding: 0;
}

.buyDetail li {
    width: 33.3%;
}

.buyDetail li:first-child {
    width: 33%;
}

.buyDetail li:nth-child(2) {
    border-right: 1px solid #d7d7d7;
}

.buy_lists_span4 .sc_looks {
    display: inline-block;
    width: 100px;
    height: 34px;
    background-color: #e13934;
    border-radius: 5px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    line-height: 34px;
    text-decoration: none;
}

.buy_lists_span4 .sc_looks_gray {
    background-color: #ababab;
}

.buy_lists_ifnLi1 .buy_lists_span4 .sc_del {
    display: inline-block;
    width: 63px;
    height: 34px;
    background-color: #ababab;
    border-radius: 5px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    line-height: 34px;
    text-decoration: none;
}

.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.sc_fuceng {
    position: absolute;
    width: 58px;
    height: 46px;
    top: 11px;
    left: 14px;
    background: url(../images/xiajia.png) no-repeat left center;
}

.tx_money_name {
    display: inline-block;
    width: 328px;
    font-size: 15px;
    color: #2b2a2a;
    text-align: right;
    margin-right: 10px;
}

.tx_money_nub {
    font-size: 14px;
    color: #e13934;
    padding-left: 10px;
}

.tx_ipt {
    width: 295px;
    height: 32px;
    font-size: 14px;
    border: 1px solid #d5d5d5;
    padding: 0 10px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.tx_moneyTot p {
    width: 315px;
    margin-left: 343px;
}

.tx_moneyTot p span {
    text-align: left;
    font-size: 13px;
    color: #9b9b9b;
}

.tx_moneyTot p a {
    text-align: right;
    font-size: 13px;
    color: #e13934;
}

.yhk_wrap {
    width: 500px;
}

.tx_yhk {
    margin-top: 42px;
}

.tx_yhk .yhk {
    margin-bottom: 15px;
}

.yhk_wrap .yhk:last-child {
    margin-bottom: 0;
}

.tel_yzm_ipt {
    width: 179px;
}

#btn_yzm {
    display: inline-block;
    width: 110px;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
}

.sure_sub {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 70px;
}

.sure_sub input {
    width: 317px;
    height: 40px;
    background-color: #e13934;
    border-radius: 5px;
    font-size: 17px;
    color: #ffffff;
}

.yhk {
    display: inline-block;
    width: 281px;
    padding: 12px 17px;
    border-radius: 5px;
    border: solid 1px #d5d5d5;
    cursor: pointer;
}

.yhk_active {
    background: url(../images/icon_rightUp.png) no-repeat right top;
}

.yhk_infs {
    margin-left: 15px;
}

.yhk_infs p {
    margin-top: 2px;
    font-size: 16px;
    color: #252525;
}

.yhk_infs p span {
    font-family: "PingFang-SC-Regular";
    font-size: 14px;
    color: #2a2a2a;
    margin-left: 10px;
}

.add_card h2 {
    font-size: 18px;
    color: #272727;
    font-weight: 600;
    margin-top: 28px;
    text-align: center;
}

.add_btn {
    margin: 0 auto;
    margin-top: 78px;
    width: 327px;
    height: 126px;
    border-radius: 8px;
    border: 1px solid #e3e3e3;
    text-align: center;
}

.add_btn a img {
    margin-top: 19px;
}

.add_btn li:last-child {
    font-size: 16px;
    letter-spacing: 1px;
    color: #e13934;
    margin-top: 16px;
}

.wenxin_tips {
    margin-top: 88px;
    margin-left: 78px;
}

.wenxin_tips h4 {
    font-size: 14px;
    color: #e13934;
    margin-bottom: 35px;
}

.wenxin_tips p {
    line-height: 29px;
    letter-spacing: 1px;
    color: #7a7a7a;
    font-size: 14px;
}

.person_card {
    font-size: 15px;
    color: #090909;
}

.kh_yh {
    margin-top: 20px;
}

.my_card_box {
    margin-left: 0;
    width: 314px;
}

.my_card_xy {
    margin-left: 341px;
    margin-top: 20px;
}

.my_card_bd {
    text-align: center;
}

.my_card_bd a {
    display: inline-block;
    width: 164px;
    height: 34px;
    background-color: #e13934;
    border-radius: 5px;
    border: solid 1px #e13934;
    text-align: center;
    line-height: 34px;
    font-size: 15px;
    color: #fff;
}

.tx_tips {
    margin-left: 259px;
    margin-top: 30px;
}

.tx_tips h5 {
    font-size: 14px;
    color: #e13934;
    margin-bottom: 19px;
}

.tx_tips p {
    width: 607px;
    font-size: 13px;
    line-height: 25px;
    color: #898989;
}

.my_xx {
    font-size: 17px;
    color: #272727;
    padding: 34px 0 44px 40px;
}

#znx_tab {
    padding: 0 40px;
}

/* 全选反选 */

.checkBox,
.checkBox1 {
    display: inline-block;
    padding: 9px 22px;
    background: #e13934;
    font-size: 14px;
    color: #fff;
    margin-right: 11px;
    cursor: pointer;
}

.tab_lists {
    margin-top: 36px;
    padding-bottom: 23px;
    border-bottom: 1px solid #e3e3e3;
}

.tab_list_mid {
    margin-left: 23px;
}

.tab_list_mid p {
    line-height: 23px;
}

.tab_list_mid p:first-child {
    font-size: 15px;
    color: #353535;
}

.tab_list_mid p:last-child {
    font-size: 13px;
    color: #828282;
}

.tab_list_right a {
    font-size: 15px;
    line-height: 46px;
    color: #e13934;
    text-decoration: underline;
}

/* 复选框 */

/*隐藏选项框*/

.tab_list_left input[type='checkbox'] {
    visibility: hidden;
    cursor: pointer;
}

/*设置label样式*/

.tab_list_left input[type='checkbox']+label {
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    position: relative;
    background: url(../images/kuang.png);
    background-size: 100% 100%;
    transition: background 0.5s linear;
    box-sizing: border-box;
    -webkit-transition: background 0.3s linear;
    -webkit-box-sizing: border-box;
}

/*相邻选择器来模拟选项被选择的效果*/

.tab_list_left input[type='checkbox']:checked+label {
    background-image: url("../images/check_16px.png");
    background-size: 100% 100%;
}

/* 账号安全 */

.saveWrap {
    padding: 31px 22px 0 22px;
}

.saveWrap h2 {
    font-size: 18px;
    color: #272727;
    text-align: center;
    font-weight: 600;
    margin-bottom: 22px;
}

.zc_inf {
    width: 100%;
    margin-bottom: 33px;
}

.zc_time {
    width: 25%;
}

.zc_time .p1 {
    font-size: 18px;
    color: #272727;
    font-weight: 600;
    margin-bottom: 15px;
}

.zc_time .p2 {
    font-size: 14px;
    color: #898989;
}

.save_jd {
    line-height: 58px;
}

.saveTable {
    width: 100%;
    border: 1px solid #e3e3e3;
}

.saveTable li {
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 27px;
    min-width: 98px;
}

.saveTable li:last-child {
    border-bottom: 0;
}

.rzContent {
    margin-left: 39px;
    padding-top: 27px;
    padding-left: 42px;
}

.rzContent1 {
    background: url(../images/rz.png) no-repeat left 27px;
}

.rzContent2 {
    background: url(../images/save_tel.png) no-repeat left 27px;
}

.rzContent3 {
    background: url(../images/save_email.png) no-repeat left 27px;
}

.rzContent4 {
    background: url(../images/xykSave.png) no-repeat left 27px;
}

.rzContent5 {
    background: url(../images/psdSave.png) no-repeat left 27px;
}

.rzContent6 {
    background: url(../images/psdSave.png) no-repeat left 27px;
}

.rzContent7 {
    background: url(../images/xykSave.png) no-repeat left 27px;
}

.trueName {
    margin-bottom: 12px;
    font-size: 15px;
    color: #424242;
}

.trueInf {
    font-size: 15px;
    color: #e13934;
}

.rz_btn {
    padding: 35px 32px 0 0;
}

.rz_btn a {
    display: inline-block;
    width: 84px;
    height: 34px;
    background-color: #e13934;
    border-radius: 5px;
    border: solid 1px #e13934;
    text-align: center;
    line-height: 34px;
    color: #fff;
    font-size: 15px;
}

.yc_content {
    margin-top: 50px;
    text-align: center;
    display: none;
}

.yc_content lable {
    font-size: 15px;
    color: #424242;
}

.yc_content input {
    width: 260px;
    height: 37px;
    border: 1px solid #d5d5d5;
    padding: 0 10px;
    margin-left: 18px;
}

.underDiv {
    margin-top: 22px;
}

.save_submit {
    text-align: center;
    margin-top: 25px;
}

.save_submit input {
    width: 132px;
    height: 34px;
    background-color: #e13934;
    border-radius: 5px;
    border: solid 1px #e13934;
    color: #fff;
    font-size: 15px;
}